
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="/static/easyautocomplete/easy-autocomplete.css" />
<script src="/static/easyautocomplete/jquery.easy-autocomplete.js"></script>

<h1> Vocab Capture </h1>
<button id=saveTop>save</button>
...........
<button id=bumpTop>bump</button>
...........
<button id=deleteTop>delete</button>
<p></p>
<form id="vocab">
    <table>
        <tr>
            <td>
                Word:
            </td>
            <td>
                <input type="text" id="word" value="{{word.word}}">
            </td>
        </tr>
        <tr>
            <td>
                Meaning:
            </td>
            <td>
                <input type="text" id="meaning" value="{{word.meaning}}">
            </td>
        </tr>
        <tr>
            <td>
                Type:
            </td>
            <td>
                <input type="text" id="type" value="{{word.type}}">
            </td>
        </tr>
        <tr>
            <td>
                Context:
            </td>
            <td>
                <input type="text" id="context" value="{{word.context}}">
            </td>
        </tr>
        <tr>
            <td>
                Example:
            </td>
            <td>
                <textarea rows="2" cols="30" id="example">
                    {{word.example}}
                </textarea>
            </td>
        </tr>
        <tr>
            <td>
                Visits:
            </td>
            <td>
                <input type="text" id="visits" value="{{word.visits}}">
            </td>
        </tr>
        <tr>
            <td>
                Created:
            </td>
            <td>
                <input type="text" id="created" value="{{word.created}}">
            </td>
        </tr>
    </table>
</form>
<button id=saveBot>save</button>
...........
<button id=bumpBot>bump</button>
...........
<button id=deleteBot>delete</button>
<script>
    let fields = ["meaning", "context", "type", "example", "visits", "created"]
    armDirty();
    $("#deleteTop").click(deletefn);
    $("#deleteBot").click(deletefn);
    function deletefn (event) {
        let myForm = document.forms["vocab"];
        let data = { word: myForm.word.value };
        if (confirm("For realsies?")) {
            $.ajax({
                url: "/kill",
                type: "POST",
                data,
                datatype: "json",
                success: function (data) {
                    stuffContents({}, true, true);
                },
                error: function (request, error) {
                    alert("Error " + JSON.stringify(error));
                }
            })
        }
    }
    $("#bumpTop").click(bumpfn);
    $("#bumpBot").click(bumpfn);
    function bumpfn (event) {
        let myForm = document.forms["vocab"]
        let ctr = myForm.visits.value
        if(ctr) {
            ctr = parseInt(ctr)
        } else {
            ctr = 0
        }
        ctr += 1;
        $("#visits").val(ctr);
        $("#visits").css({ "background": "pink" });
    }
    $("#saveBot").mouseup(savefn)
    $("#saveTop").mouseup(savefn)
    function savefn (event) {
        let myForm = document.forms["vocab"]
        let data = {
            word: myForm.word.value.trim(),
            meaning: myForm.meaning.value.trim(),
            context: myForm.context.value.trim(),
            type: myForm.type.value.trim(),
            example: myForm.example.value.trim(),
            created: myForm.created.value.trim() || new Date().getTime(),
            visits: myForm.visits.value.trim(),
        };
        previousContext = myForm.context.value;
        $.ajax({
            url: "/save",
            type: "POST",
            data,
            datatype: "json",
            success: function (data) {
                //alert("Success" + JSON.stringify(data))
                stuffContents({}, true, true);
                setTimeout(function() {
                    $("#word").focus();
                    $("#word").select();
                },500);
              
            },
            error: function (request, error) {
                alert("Error " + JSON.stringify(error));
            }
        })
    }
    let wordacoptions = {
        url: function (phrase) {
            return "find";
        },
        getValue: function (element) {
            return element.word;
        },
        ajaxSettings: {
            dataType: "json",
            method: "POST",
            data: {
                dataType: "json"
            }
        },
        list: {
            onChooseEvent: function () {
                //alert("selected " + JSON.stringify($("#word").getSelectedItemData()))
                stuffContents($("#word").getSelectedItemData())
            }
        },
        preparePostData: function (data) {
            data.fragment = $("#word").val();
            return data;
        }
    }

    $("#word").easyAutocomplete(wordacoptions);
    $("#word").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            // see if there is anything in the dictionary already
            let myForm = document.forms["vocab"]
            let data = { word: myForm.word.value }
            $.ajax({
                url: "/fetch",
                type: "POST",
                data,
                datatype: "json",
                success: function (data) {
                    if (data.length > 0) {
                        stuffContents(data[0], false, true)
                    } else {
                        stuffContents({}, false, true)
                    }

                },
                error: function (request, error) {
                    alert("Error " + JSON.stringify(error));
                }
            })
        }
    })
    let contextacoptions = {
        url: function (phrase) {
            return "contexts";
        },
        getValue: function (element) {
            return element;
        },
        ajaxSettings: {
            dataType: "json",
            method: "POST",
            data: {
                dataType: "json"
            }
        },
        preparePostData: function (data) {
            data.fragment = $("#context").val()
            return data;
        }
    }
    $("#context").easyAutocomplete(contextacoptions);

    $("#find").click(function (event) {
        let myForm = document.forms["vocab"]
        let data = { fragment: myForm.word.value }
        $.ajax({
            url: "/find",
            type: "POST",
            data,
            datatype: "json",
            success: function (data) {
                alert("Success" + JSON.stringify(data))
            },
            error: function (request, error) {
                alert("Error " + JSON.stringify(error));
            }
        })
    })

    function stuffContents(data, full, context) {
        clean();
        for (field of fields) {
            $("#" + field).val(data[field])
        }
        if (full) {
            $("#word").val(data.word);
        }
        if (context) { 
            fetchLatestContext();
        }
    }
    function armDirty() {
        for (field of fields) {
            let f = function (fld) {
                $(fld).keypress(function (event) {
                    $(fld).css({ "background": "pink" });
                })
            }
            f("#" + field);
        }
    }
    function clean() {
        for (field of fields) {
            $("#" + field).css({ "background": "white" });
        }
    }
    function fetchLatestContext() {
        $.ajax({
            url: "/fetchLatest",
            type: "GET",
            datatype: "json",
            success: function(data) {
                if(data && data.context) {
                    $("#context").val(data.context);
                }
            },
            error: function (request, error) {
                alert("Error " + JSON.stringify(error));
            }
        })
    }
</script>