<link rel="stylesheet" href="/static/easyautocomplete/easy-autocomplete.css" />
<link rel="stylesheet" href="/static/modalpopup.css" />

<script src="/static/enter.js"></script>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id=modalheader>Modal Header</h2>
    </div>
    <div class="modal-body" id=modalbody>
        <ul>
        </ul>
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>

<form id="chooseForm">
  <label>Choose source:
    <select id="choose">
        {{#each choices}}
            <option 
                {{#if this.current}}
                selected="selected"
                {{/if}}
            > {{this.tag}}
            </option>
        {{/each}}
    </select>
  </label>
</form>
<h1> Vocab Capture </h1>
<button id=saveTop>save</button>
...........
<button id=bumpTop>bump</button>
...........
<button id=deleteTop>delete</button>
<p></p>

<form id="vocab">
    <input type="hidden" id="_id" value={{word._id}}>
    <table>
        <tr>
            <td>
                Word:
            </td>
            <td>
                <input type="text" id="word" value="{{word.word}}">
            </td>
        </tr>
        <tr>
            <td>
                Meaning:
            </td>
            <td>
                <input type="text" id="meaning" value="{{word.meaning}}">
            </td>
        </tr>
        <tr>
            <td>
                Type:
            </td>
            <td>
                <input type="text" id="type" value="{{word.type}}">
            </td>
        </tr>
        <tr>
            <td>
                Example:
            </td>
            <td>
                <textarea rows="2" cols="30" id="example">
                    {{word.example}}
                </textarea>
            </td>
        </tr>
        <tr>
            <td>
                Sightings:
            </td>
            <td>
                <span id="visits">{{word.sightings.length}}</span> <span id="deets">[details]</span>
            </td>
        </tr>
        <tr>
            <td>
                Created:
            </td>
            <td>
                <span id="created">{{nds}}</span>
            </td>
        </tr>
    </table>
</form>
    
<p></p>          
<button id=saveBot>save</button>
...........
<button id=bumpBot>bump</button>
...........
<button id=deleteBot>delete</button>

