<h1>Vocab List</h1>

<table>

{{#each records}}
<tr>
    <td>
        <a href="/enter?word={{this.word}}">
          {{this.word}}
        </a>
    </td>
    <td>
        {{this.meaning}}
    </td>
    <td>
        {{this.context}}
    </td>
</tr>
{{/each}}

</table>
<hr>
<a href=/list?page={{nextPage}}>next</a>
