<h1>Vocab List</h1>

<table>

{{#each records}}
<tr>
    <td>
        <a href="/enter?word={{this.word}}">
          {{this.word}}
        </a>
    </td>
    <td>
        {{this.meaning}}
    </td>
    <td>
        {{this.sightings.0.source}}
    </td>
    <td>
        {{this.sightings.length}}
    </td>
</tr>
{{/each}}

</table>
<hr>
<a href=/list?page=1>&lt;&lt;</a> ..
<a href=/list?page={{prevPage}}>&lt;</a> ....
<a href=/list?page={{nextPage}}>&gt;</a> ..
<a href=/list?page={{lastPage}}>&gt;&gt;</a>
